@media screen and (max-width: 1400px) {
  #header-nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  z-index: 1000;
  background-color: white;
  gap: 10px;
  }

  #profile {
    height: 83vh;
    margin-top: 8rem;
  }

  .about-containers {
    flex-wrap: wrap;
  }

  #contact,
  #projects {
    height: fit-content;
  }

  .about-pic{
    margin-left: 0;
  }

  .round{
    margin-left: 0;
    margin-top: 5rem;
  }
}

@media screen and (max-width: 1200px) {

  #hamburger-nav {
    display: flex;
  }

  #profile,
  .section-container {
    display: block;
  }

  .arrow {
    display: none;
  }

  section,
  .section-container {
    height: fit-content;
  }

  section {
    margin: 0 5%;
  }

  .self-picture,
  .self-picture-about {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
  
}

@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: 40vh;
  }

  #profile {
    height: 83vh;
    margin-bottom: 0;
  }

  article {
    font-size: 1rem;
  }

  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }

  .about-container,
  .contact-info-upper-container,
  .button-container {
    flex-wrap: wrap;
  }

  .contact-info-container {
    margin: 0;
  }

  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }

  .logo {
    font-size: 1.5rem;
  }

  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }

  .self-picture,
  .self-picture-about {
    width: auto;
    height: 46vw;
    justify-content: center;
  }

  .introduction-text{
    margin-top: 250px;
  }

  .job {
    font-size: 1.25rem;
  }

  .name {
    font-size: 2rem;
  }

  .text-container {
    text-align: justify;
  }

  .icon-about{
    position: relative;
  }
}